@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    /* Gradient: White top-left, Grey bottom-right */
    background: radial-gradient(circle at top left, #ffffff, #f0f0f0 40%, #d1d1d1 100%);
    min-height: 100vh;
    color: #1d1d1f;
  }
}
